pkgbase = aic8800-dkms
	pkgdesc = Kernel modules for BrosTrend AX300 WiFi 6
	pkgver = 1.0.5
	pkgrel = 1
	url = https://www.brostrend.com/products/ax5l
	arch = any
	license = GPLv2
	source = https://linux.brostrend.com/aic8800-dkms.deb
	source = 0001-Make-CONFIG_RFTEST-n-valid.patch
	source = 0002-Fix-DKMS-config.patch
	source = 0003-Fix-kernel-logs.patch
	sha512sums = 4b4917a510caf1104ae7124f883b958d6a936a6e172d1afcc79f58349a943e0feb9a8bb35d326f96c56e0b089d62e3359cf81967e01e1edb1a1ddfc6fe101da0
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = aic8800-dkms
